.html {
  position: relative;
  max-width: 640px;
  margin: auto;
  overflow: hidden;
  min-height: 100%;
  padding: 0 0 40px 0;
}

.stage {
  position: absolute;
  min-height: 100%;
  width:100%;
  -webkit-transition: -webkit-transform .8s;
}
.nav-top .stage{padding-top:40px;}
.nav-bottom .stage{padding-bottom:40px;}
.transitionLeft .stage{
  -webkit-transform: translate(-100%, 0);
}

section {
  width: 100%;
  min-height: 100%;
  position: relative;
}

footer {
  height: 35px;
  line-height: 35px;
  position: relative;
  margin-top: -35px;
  text-align: center;
  z-index: 0;
}

footer,
footer a {
  color: #888;
}

.header,.footer{position:fixed; width:100%; max-width:640px; z-index:1000;}
.header{height:40px; top:0; background:#000; color:#fff; text-align:center; line-height:40px;}
.footer{height:40px; bottom:0; background:#000; color:#fff; text-align:center; line-height:40px;}


section{
  opacity:0;
  filter:alpha(opacity=0);
  -moz-opacity:0;
  -khtml-opacity:0;
}
#main{
  opacity:1;
  filter:alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity:1;}
section[data-position="right"]{left:100%; top:0;}
section[data-position="top"]{top:-100%; left:0;}
section[data-position="left"]{left:-100%; top:0;}
section[data-position="bottom"]{top:100%; left:0;}