/* HTML5 鉁� Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background-color:#d1dbde;}
body { margin: 0 auto; font-size: 13px; line-height: 1.231;}
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { backgrtwitterRollound: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: none; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }




/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */

.texto{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	color:#025981;
}

#container{	
	width: 100%;
	min-width:900px;
    overflow:hidden;
    *position: relative;
}


/* Header */

header{
	float: left;
    position: relative;
    left: 50%;
}


#head{
	display: block;
	width:1400px;
	height:424px;
    position: relative;
    left: -50%;
	background-image:url(../header.jpg);
	background-repeat:no-repeat;
}

#socialMenu{
	width:90px;
	height:270px;
	position:absolute;
	top:17px;
	right:80px;
	color:#CCC;
}

.socialButton{
	width:90px;
	height:90px;
	float:left;
}


#appStoreButton{
	position:absolute;
	left:169px;
	top:-332px;
	height:184px;
	width:426px;
	
}

#logoImage{
	position:absolute;
	left:104px;
	top:-171px;
	height:319px;
	width:532px;
}



#cheeseHeader, #cheeseHeader_tile, #upper_moving_layer_01, #upper_moving_layer_02,
#center_moving_layer_01, #center_moving_layer_02, #lower_moving_layer_01{
	position: absolute;
	background-repeat:no-repeat;
	background-position: 50% 50%;
	left:50%;
	
}

#cheeseHeader {
	background-image:url(../header_cheese.png);
	width: 154px;
	height: 112px;
	top: 350px;
	left:50%;
	margin-left:262px;
	z-index: 60;
}
#cheeseHeader_tile {
	background-image:url(../header_cheese_tile.png);
	width: 154px;
	height: 112px;
	top: 352.4px;
	left:50%;
	margin-left:262px;
	z-index: 40;
}


#rata_header{
	background-image:url(../header_rata.png);
	width: 308px;
	height: 420px;
	top: 2px;
	left:50%;
	margin-left:38px;
	z-index: 10;
}

.class_upper_moving_layer_01 {
	background-image:url(../upper_moving_layer_01.png);
	left:50%;
	z-index: 30;
	position: fixed;
	background-repeat:no-repeat;
	background-position: 50% 50%;
}

#upper_moving_layer_01_01 {background-position: -0010px -560px  ; width: 70px; height: 70px; top: 620px ; margin-left:-542px;}
#upper_moving_layer_01_02 {background-position: -0080px -700px  ; width: 10px; height: 60px; top: 760px ; margin-left:-472px;}
#upper_moving_layer_01_03 {background-position: -0150px -590px  ; width: 10px; height: 20px; top: 650px ; margin-left:-400px;}
#upper_moving_layer_01_04 {background-position: -0090px -810px  ; width: 40px; height: 40px; top: 870px ; margin-left:-462px;}
#upper_moving_layer_01_05 {background-position: -0130px -670px  ; width: 90px; height: 80px; top: 730px ; margin-left:-422px;}
#upper_moving_layer_01_06 {background-position: -0140px -880px  ; width: 20px; height: 10px; top: 940px ; margin-left:-371px;}
#upper_moving_layer_01_07 {background-position: -0180px -820px  ; width: 30px; height: 30px; top: 880px ; margin-left:-372px;}
#upper_moving_layer_01_08 {background-position: -0215px -345px  ; width: 15px; height: 10px; top: 405px ; margin-left:-337px;}
#upper_moving_layer_01_09 {background-position: -0215px -425px  ; width: 15px; height: 10px; top: 485px ; margin-left:-372px;}
#upper_moving_layer_01_10 {background-position: -240px -1025px  ; width: 10px; height: 55px; top: 1085px; margin-left:-312px;}
#upper_moving_layer_01_11 {background-position: -280px -270px   ; width: 20px; height: 50px; top: 330px ; margin-left:-272px;}
#upper_moving_layer_01_12 {background-position: -260px -670px   ; width: 20px; height: 10px; top: 730px ; margin-left:-292px;}
#upper_moving_layer_01_13 {background-position: -280px -810px   ; width: 20px; height: 10px; top: 870px ; margin-left:-272px;}
#upper_moving_layer_01_14 {background-position: -380px -1000px  ; width: 30px; height: 25px; top: 827px; margin-left:326px;}
#upper_moving_layer_01_15 {background-position: -420px -285px   ; width: 5px ; height: 5px ; top: 345px ; margin-left:-132px;}
#upper_moving_layer_01_16 {background-position: -445px -420px   ; width: 5px ; height: 5px ; top: 480px ; margin-left:-107px;}
#upper_moving_layer_01_17 {background-position: -465px -20px    ; width: 10px; height: 52px; top: 080px ; margin-left:-087px;}
#upper_moving_layer_01_18 {background-position: -510px -205px   ; width: 60px; height: 70px; top: 265px ; margin-left:-042px;}
#upper_moving_layer_01_19 {background-position: -590px -250px   ; width: 40px; height: 40px; top: 310px ; margin-left: 038px;}
#upper_moving_layer_01_20 {background-position: -600px -365px   ; width: 65px; height: 56px; top: 425px ; margin-left: 048px;}

#upper_moving_layer_01_21 {background-position: -860px -400px   ; width: 40px; height: 25px; top: 460px ; margin-left: 308px;}
#upper_moving_layer_01_22 {background-position: -950px -400px   ; width: 30px; height: 25px; top: 460px ; margin-left: 398px;}
#upper_moving_layer_01_23 {background-position: -910px -460px   ; width: 20px; height: 10px; top: 520px ; margin-left: 359px;}
#upper_moving_layer_01_24 {background-position: -885px -795px   ; width: 95px; height: 85px; top: 1070px ; margin-left: 333px;}
#upper_moving_layer_01_25 {background-position: -1010px -600px  ; width: 10px; height: 60px; top: 660px ; margin-left: 458px;}
#upper_moving_layer_01_26 {background-position: -1035px -255px  ; width: 10px; height: 05px; top: 315px ; margin-left: 483px;}
#upper_moving_layer_01_27 {background-position: -1060px -390px  ; width: 10px; height: 10px; top: 450px ; margin-left: 508px;}

#upper_moving_layer_01_28 {background-position: -1160px -350px  ; width: 45px; height: 30px; top: 410px ; margin-left: 608px;}
#upper_moving_layer_01_29 {background-position: -1250px -750px  ; width: 15px; height: 15px; top: 810px ; margin-left: 698px;}
#upper_moving_layer_01_30 {background-position: -1160px -875px  ; width: 45px; height: 45px; top: 935px ; margin-left: 608px;}


.class_upper_moving_layer_02 {
	background-image:url(../upper_moving_layer_02.png);
	left:50%;
	z-index: 20;
	position: fixed;
	background-repeat:no-repeat;
	background-position: 50% 50%;
}

	
#upper_moving_layer_02_01 {background-position: -45px -40px   ; width: 85px; height: 50px; top: 693px  ; margin-left: -381px;}
#upper_moving_layer_02_02 {background-position: -140px -40px  ; width: 15px; height: 10px; top: 693px  ; margin-left: -286px;}
#upper_moving_layer_02_03 {background-position: -115px -115px ; width: 15px; height: 15px; top: 768px  ; margin-left: -311px;}
#upper_moving_layer_02_04 {background-position: -45px -440px  ; width: 75px; height: 70px; top: 1093px ; margin-left: -381px;}
#upper_moving_layer_02_05 {background-position: -345px -10px  ; width: 10px; height: 10px; top: 663px  ; margin-left: -81px;}
#upper_moving_layer_02_06 {background-position: -610px -25px  ; width: 15px; height: 15px; top: 678px  ; margin-left: 188px;}
#upper_moving_layer_02_07 {background-position: -720px -90px  ; width: 35px; height: 30px; top: 738px  ; margin-left: 294px;}

#upper_moving_layer_02_08 {background-position: -700px -455px ; width: 35px; height: 50px; top: 1108px ; margin-left: 274px;}
#upper_moving_layer_02_09 {background-position: -625px -535px ; width: 15px; height: 10px; top: 1188px ; margin-left: 199px;}




#center_moving_layer_01 {
	background-image:url(../center_moving_layer_01.png);
	width: 1002px;
	height: 912px;
	top: 1350px;
	left:50%;
	margin-left:-483px;
	z-index: 40;
}


.class_center_moving_layer_01 {
	background-image:url(../center_moving_layer_01.png);
	left:50%;
	z-index: 40;
	position: fixed;
	background-repeat:no-repeat;
	background-position: 50% 50%;
}

#center_moving_layer_01_01 {background-position: -30px -170px  ; width: 70px; height: 70px; top: 1520px ; margin-left: -453px;}
#center_moving_layer_01_02 {background-position: 0px -420px    ; width:100px; height: 85px; top: 1770px ; margin-left: -483px;}
#center_moving_layer_01_03 {background-position: -30px -820px  ; width: 70px; height: 60px; top: 2170px ; margin-left: -458px;}
#center_moving_layer_01_04 {background-position: -120px -540px ; width: 20px; height: 30px; top: 1890px ; margin-left: -363px;}
#center_moving_layer_01_05 {background-position: -145px -770px ; width: 30px; height: 35px; top: 2120px ; margin-left: -338px;}
#center_moving_layer_01_06 {background-position: -210px -335px ; width: 20px; height: 20px; top: 1685px ; margin-left: -273px;}
#center_moving_layer_01_07 {background-position: -205px -220px ; width: 10px; height: 10px; top: 1570px ; margin-left: -278px;}
#center_moving_layer_01_08 {background-position: -290px -515px ; width: 20px; height: 20px; top: 1865px ; margin-left: -193px;}
#center_moving_layer_01_09 {background-position: -305px -685px ; width: 15px; height: 20px; top: 2035px ; margin-left: -178px;}
#center_moving_layer_01_10 {background-position: -610px -460px ; width: 40px; height: 20px; top: 1810px ; margin-left: 127px;}
#center_moving_layer_01_11 {background-position: -640px -240px ; width: 20px; height: 10px; top: 1590px ; margin-left: 157px;}
#center_moving_layer_01_12 {background-position: -760px -430px ; width: 70px; height: 60px; top: 1780px ; margin-left: 317px;}
#center_moving_layer_01_13 {background-position: -850px -470px ; width:100px; height: 60px; top: 1820px ; margin-left: 367px;}
#center_moving_layer_01_14 {background-position: -830px -720px ; width:140px; height: 90px; top: 2070px ; margin-left: 347px;}





.class_center_moving_layer_02 {
	background-image:url(../center_moving_layer_02.png);
	left:50%;
	z-index: 30;
	position: fixed;
	background-repeat:no-repeat;
	background-position: 50% 50%;
}

#center_moving_layer_02_01 {background-position: -40px -60px  ; width: 25px; height: 25px; top: 2060px ; margin-left: -180px;}
#center_moving_layer_02_02 {background-position: -80px -15px  ; width: 15px; height: 15px; top: 2015px ; margin-left: -140px;}
#center_moving_layer_02_03 {background-position: -65px -120px ; width: 5px ; height: 10px; top: 2120px ; margin-left: -155px;}
#center_moving_layer_02_04 {background-position: -40px -200px ; width: 25px; height: 10px; top: 2200px ; margin-left: -180px;}
#center_moving_layer_02_05 {background-position: -65px -285px ; width: 10px; height: 10px; top: 2285px ; margin-left: -155px;}
#center_moving_layer_02_06 {background-position: -120px -60px ; width: 25px; height: 35px; top: 2060px ; margin-left: -100px;}
#center_moving_layer_02_07 {background-position: -120px -120px; width: 25px; height: 10px; top: 2120px ; margin-left: -100px;}
#center_moving_layer_02_08 {background-position: -125px -155px; width: 15px; height: 5px ; top: 2155px ; margin-left: -95px;}
#center_moving_layer_02_09 {background-position: -95px -360px ; width: 25px; height: 40px; top: 2360px ; margin-left: -125px;}
#center_moving_layer_02_10 {background-position: -145px -290px; width: 10px; height: 10px; top: 2295px ; margin-left: -75px;}
#center_moving_layer_02_11 {background-position: -145px -360px; width: 10px; height: 40px; top: 2360px ; margin-left: -75px;}
#center_moving_layer_02_12 {background-position: -160px -120px; width: 5px ; height: 10px; top: 2120px ; margin-left: -60px;}
#center_moving_layer_02_13 {background-position: -160px -165px; width: 20px; height: 20px; top: 2160px ; margin-left: -60px;}
#center_moving_layer_02_14 {background-position: -190px -270px; width: 20px; height: 25px; top: 2270px ; margin-left: -30px;}
#center_moving_layer_02_15 {background-position: -180px -350px; width: 30px; height: 35px; top: 2350px ; margin-left: -40px;}
#center_moving_layer_02_16 {background-position: -220px -350px; width: 35px; height: 20px; top: 2300px ; margin-left: 0px;}
#center_moving_layer_02_17 {background-position: -250px -395px; width: 5px ; height: 5px ; top: 2395px ; margin-left: 30px;}
#center_moving_layer_02_17 {background-position: -280px -375px; width: 120px; height: 135px; top: 2375px ; margin-left: 60px;}
#center_moving_layer_02_18 {background-position: -355px -280px; width: 10px ; height: 10px ; top: 2280px ; margin-left: 135px;}
#center_moving_layer_02_19 {background-position: -430px -420px; width: 10px ; height: 10px ; top: 2420px ; margin-left: 210px;}
#center_moving_layer_02_20 {background-position: -570px -525px; width: 20px ; height: 40px ; top: 2525px ; margin-left: 350px;}
#center_moving_layer_02_21 {background-position: -530px -340px; width: 160px; height: 140px; top: 2340px ; margin-left: 260px;}



#lower_moving_layer_01 {
	background-image:url(../lower_moving_layer_01.png);
	width: 996px;
	height: 790px;
	top: 2650px;
	left:50%;
	margin-left:-495px;
	z-index: 10;
}


.class_lower_moving_layer_01 {
	background-image:url(../lower_moving_layer_01.png);
	left:50%;
	z-index: 10;
	position: fixed;
	background-repeat:no-repeat;
	background-position: 50% 50%;
}


#lower_moving_layer_01_01 {background-position: -30px -400px ; width: 40px ; height: 40px ; top: 3050px ; margin-left: -470px;}
#lower_moving_layer_01_02 {background-position: -50px -620px ; width: 100px; height: 110px; top: 3270px ; margin-left: -445px;}
#lower_moving_layer_01_03 {background-position: -220px -740px ; width: 30px ; height: 30px ; top: 3390px ; margin-left: -275px;}
#lower_moving_layer_01_04 {background-position: -190px -340px ; width: 90px ; height: 200px; top: 2990px ; margin-left: -305px;}
#lower_moving_layer_01_05 {background-position: -140px -150px ; width: 80px ; height: 110px; top: 2800px ; margin-left: -355px;}
#lower_moving_layer_01_06 {background-position: -220px -10px ; width: 10px ; height: 20px; top: 2660px ; margin-left: -275px;}
#lower_moving_layer_01_07 {background-position: -370px -120px; width: 80px ; height: 90px; top: 2770px ; margin-left: -125px;}
#lower_moving_layer_01_16 {background-position: -710px -20px; width: 30px ; height: 20px; top: 2670px ; margin-left: 215px;}
#lower_moving_layer_01_08 {background-position: -810px 0px; width: 180px ; height: 160px; top: 2750px ; margin-left: 315px;}
#lower_moving_layer_01_09 {background-position: -790px -260px; width: 120px ; height: 100px; top: 2910px ; margin-left: 295px;}
#lower_moving_layer_01_10 {background-position: -800px -400px; width: 130px ; height: 130px; top: 3050px ; margin-left: 305px;}
#lower_moving_layer_01_11 {background-position: -800px -560px; width: 150px ; height: 85px ; top: 3210px ; margin-left: 305px;}
#lower_moving_layer_01_12 {background-position: -740px -590px; width: 20px  ; height: 20px ; top: 3240px ; margin-left: 95px;}

#lower_moving_layer_01_13 {background-position: -760px -670px; width: 40px  ; height: 70px ; top: 3320px ; margin-left: 265px;}
#lower_moving_layer_01_14 {background-position: -850px -670px; width: 80px  ; height: 60px ; top: 3320px ; margin-left: 355px;}
#lower_moving_layer_01_15 {background-position: -870px -770px; width: 20px  ; height: 20px ; top: 3420px ; margin-left: 375px;}

.class_lower_moving_layer_02 {
	background-image:url(../lower_moving_layer_02.png);
	left:50%;
	z-index: 1;
	position: fixed;
	background-repeat:no-repeat;
	background-position: 50% 50%;
}

#lower_moving_layer_02_01 {background-position: 0px 0px        ; width: 330px ; height: 325px ; top: 2500px ; margin-left: -400px;}
#lower_moving_layer_02_02 {background-position: 0px -430px     ; width: 220px ; height: 370px ; top: 2930px ; margin-left: -400px;}
#lower_moving_layer_02_03 {background-position: -270px -565px  ; width: 25px ; height: 25px ; top: 3065px ; margin-left: -130px;}
#lower_moving_layer_02_04 {background-position: -475px -240px  ; width: 20px ; height: 20px ; top: 2740px ; margin-left: 75px;}
#lower_moving_layer_02_05 {background-position: -670px 0px     ; width: 330px ; height: 800px ; top: 2500px ; margin-left: 270px;}





/* Main*/


#main{
	width:1100px;
	height:1762px;
	position:relative;
	margin:0 auto;
	float: left;
	left: 50%;
	clear:left;
	z-index:2;
	
}



#mainBack{
	display: block;
	width:1100px;
	height:1762px;
    position: relative;
    left: -50%;
	z-index:2;
	
}



#containerNivelOne{ float:left; width:1094px; height:806px;}
#containerNivelTwo{ float:left; width:1094px; height:365px;}




#twitterbotonGreen{float:left; height:743px; width:215px; position:relative;}

#twitterRoll{
	width:210px;
	height:620px;
	float:left;
	position:relative;
}


#twitterFollow{
	position:relative;
	margin-left:1px;
	margin-top:449px;
	width:213px;
	height:180px;
	z-index:5;
	cursor: pointer;
	float:left;
}



#botonGreen{
	float:left;
	margin-left:88px;
	cursor:pointer;
}

#botonTwitterEfectOn{float:left; height:190px; width:213px; }


#facebookFollow{
	position:relative;
	margin-left:-19px;
	margin-top:219px;
	width:159px;
	height:134px;
	z-index:5;

}


.twittBot{
	position:absolute;
	top:21px;
	left:0;
}

.faceBot{
	position:absolute;
	cursor:pointer;
	top:-9px;
	left:33px;
}

#twitterRoll #mensaje{
	position:absolute;
	top:540px;
	left:210px;
	z-index: 2;
}

#facebookRoll #mensajeFace{
	position:absolute;
	top:240px;
	left:829px;
	z-index: 2;
}


#vimeoVideo{
	width: 684px;
	height: 464px;
	position:relative;
	float:left;
	margin-top:225px;
	margin-left:-10px;
	z-index:4;
}

#clickHere{
	position:absolute;
	top:140px;
	left:218px;
	cursor: pointer;
}


#videoFrame{
	width:673px;
	height:390px;
	background-repeat:no-repeat;
	margin: 39px 0 0 10px;
}

#videoFrame iframe{
	margin:14px 0 0 16px;
}


#facebookRoll{
	width:200px;
	height:477px;
	float:left;
	
}

#botonTwitterEfectOn{
	cursor:pointer;
}

#lolaAnimation{
	width:112px;
	height:119px;
	float:left;
	margin-top:-2px;
	margin-left:421px;
	position:relative;
}

.animacion, .fotoAnimacion{ position:absolute;}
.animacion{z-index:5;}
.fotoAnimacion{z-index:6;}



#wallBlueAnimation{
	width:272px;
	height:338px;
	float:left;
	margin-top:-7px;
	margin-left:1px;
	position:relative;
	z-index:4;
}



#botonBlue{
	width:119px;
	height:120px;
	float:left;
	margin-left:1px;
	margin-top:-3px;
	cursor:pointer;
}


#wrapper{
	margin-top:217px;
	margin-left:404px;
	float:left;
}

.transp{
	display:none;
	/*visibility:hidden;*/

}

.fade{

}


#slider { width: 355px; height: 237px;  }

#lola{
	width:250px;
	height:100px;
	float:left;
	margin-top:291px;
	margin-left:120px;
	
}

#shareOn{
	width: 141px;
	height: 119px;
	float: left;
	position: relative;
}

#shareOn .facebook{
	top: 10px;
}
#shareOn .twitter{
	top: 58px;
}

.share{
	width: 141px;
	height: 40px;
	position: absolute;
}


#anythingIphone{
	position:relative; 
	width:355px; 
	height:237px;
	margin-top:44px;
	margin-left:35px;
	float:left;
}

#anythingIphone #imagenIphone{position:absolute; top:7px; left:11px; z-index:10;}





/* Footer*/

#logosFooter{
	width:394px;
	height:20px;
	margin-left:53px;
	margin-bottom:10px;
}

#logosFooter a{
	display:block; float:left;
	width:79px;
	height:17px;
}

footer{
	float: left;
	clear:left;
    position: relative;
    left: 50%;
}

#imagenFooter {
    display: block;
	width:1401px;
	height:909px;
    position: relative;
    left: -50%;
	background-image:url(../footer.jpg);
	background-repeat:no-repeat;
	background-position:top;
	color:#2A6E7E;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}

#textoFooter{
	position:absolute;
	bottom:52px;
	left:50%;
	width:500px;
	margin-left:-250px;
	}

.centr{text-align:center; display:block;}


#botonFooter{

	position: absolute;
	width: 509px;
	height: 267px;
	top:280px;
	left:440px;
}

#botonPressKit{
	position: absolute;
	width: 243px;
	height: 115px;
	top:10px;
	left:676px;
	background-image: url(../button_presskit.png);
}







#wallpapers{
	width:1100px;
	height:587px;
	float:left;
	margin-top:1px;
	margin-left:0.5px;
	position:relative;
	background-image:url(../back_wallpapers.png);
	background-repeat:no-repeat;
	background-position:0.7px;
	
}

.currentTextHolder{
	display: none;
}

#yellowButtonAnimation{
	width:341px;
	height:650px;
	margin-top:3px;
	margin-left:-60px;
	float:left;
	z-index:10;
}



@-moz-document url-prefix(){

	#wallpapers{
	width:1100px;
	height:587px;
	float:left;
	margin-top:1px;
	margin-left:-0.5px;
	position:relative;
	background-image:url(../back_wallpapers.png);
	background-repeat:no-repeat;
	background-position:0.7px;
	
}

	#yellowButtonAnimation{
	width:341px;
	height:650px;
	margin-top:4px;
	margin-left:-59px;
	float:left;
	z-index:10;
}



}



#thegame{
	width:562px;
	height:100px;
	position: absolute;
	top:36px;
	left:411px;
}




#botonYellow{
	float:left;
	width:119px;
	height:120px;
	margin-top:12px;
	margin-left:156px;
	cursor:pointer;
}
#wallYellowAnimation{float:left; height:493px; width:341px;}


#titleGoodies{
	width:413px;
	height:110px;
	position:absolute;
	top:123px;
	right:116px;
	background-image:url(../title_goodies.png);
	background-position: right top;
	background-repeat: no-repeat;
	z-index:12;
}

#titleWallpapers{
	width:255px;
	height:98px;
	position:absolute;
	bottom:86px;
	left:159px;
	background-image:url(../text_goodies_wallpapers.png);
	background-position: right top;
	background-repeat: no-repeat;
	z-index:12;
}

#textoWallpapers{
	
	float:left;
	width:260px;
	height:100px;
	margin-top:350px;
	margin-left:-37px;
}

#wallpapers ul{position:relative; list-style:none; margin-top:160px; margin-left:152px; z-index:11;}
#wallpapers ul li{position:absolute;}



#wall1{ top:-32px; left:-0px; z-index:1;}
#wall2{top:-32px; left:153px; z-index:2;}
#wall3{top:39px; left:311px; z-index:1;}
#wall4{top:191px; left:469px; z-index:2;}
#wall5{top:92px; left:608px; z-index:3;}





/* Preload */
.nomostrar{display:none; opacity: 0.0;}
.mostrar{display:block; opacity: 1.0;}


#overlay{	
	width: 100%;
	height:100%;
	min-height:515px;
	min-width:900px;
    overflow:hidden;
    *position: relative;
	background-image:url(../preloader_header.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	margin:0 auto;
}


#load{
	margin-left:284px;
	margin-top:457px;
	
}

#goAppStore{
	margin: 256px 0px 0px 202px;
}


#footerLoader{
	position:fixed;
	bottom:-187px;
	left:50%;
	margin-left:-355px;
}

.clear
{
	clear: both;
}



/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}



.ppt{
	display: none !important;
}



/* Nivo slider */


.nivoSlider {
	
    position:relative;
    width:355px; /* Change this to your images width */
    height:237px; /* Change this to your images height */
    background:url(images/loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.nivoSlider a {
    border:0;
    display:block;
}