h1 增加
form(method="post")
    "uid :"
    input(type="text", name="uid")
    br
    "title:"
    input(type="text", name="title")
    br
    "content:"
    textarea(name="content")
    br
    input(type="submit", value="submit")
    input(type="reset", value="reset")