doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body(class="nav-top nav-bottom")
    div(class="html")
        div(class="stage")
                include  ./header.jade
                include  ./main.jade
                include  ./page1.jade
                include  ./page2.jade
                include  ./page3.jade
                include  ./page4.jade
                include  ./page5.jade
                include  ./page6.jade
                include  ./page7.jade
                include  ./page8.jade
                include  ./footer.jade
    footer="@cieldon"
    include  ./js.jade