<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="register">1、注册</a><br/>
    <a href="login">2、登录</a><br/>
    <a href="list">3、用户列表</a><br/>
  </body>
</html>