<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="post">
    	<label>用户名：</label><input type="text" name="name"><br/>
    	<label>密码：</label><input type="text" name="pass"><br/>
    	<input type="submit" value="注册">
    </form>
  </body>
</html>