<% include head.html %>
<div class="html nav-top nav-bottom" id="html">
    <div class="header">title</div>
    <div class="stage" id="stage">
        <section id="main">mainaaaa</section>
        <section id="page1" data-position="right">page1</section>
        <section id="page2" data-position="top">page2</section>
        <section id="page3" data-position="left">page3</section>
        <section id="page4" data-position="bottom">page4</section>
        <section id="page5" data-position="right">page5</section>
        <section id="page6" data-position="top">page6</section>
        <section id="page7" data-position="left">page7</section>
        <section id="page8" data-position="bottom">page8</section>
    </div>
    <div class="footer">
        <ul id="nav_ft_1" class="nav_ft navLine-ul">
            <li><a href="page1" data-transition="left">1</a></li>
            <li><a href="page2" data-transition="bottom">2</a></li>
            <li><a href="page3" data-transition="right">3</a></li>
            <li><a href="page4" data-transition="top">4</a></li>
            <li><a href="page5" data-transition="left">5</a></li>
            <li><a href="page6" data-transition="bottom">6</a></li>
            <li><a href="page7" data-transition="right">7</a></li>
            <li><a href="page8" data-transition="top">8</a></li>
        </ul>
    </div>
</div>
<% include foot.html %>