<% include head.html %>
<div class="html nav-top nav-bottom" id="html">
	<div class="header"><%=title%></div>
  <div class="stage" id="stage" data-left="sec-page3" data-right="sec-page1,sec-a sec-b sec-c sec-d sec-e" data-top="sec-page2" data-bottom="sec-page4,sec-a-4,sec-b-4,sec-c-4,sec-d-4,sec-e-4" data-position="0,0">
      <section id="sec-main">
				<ul>
					<li><a href="/transitions">转场</a></li>
					<li><a href="/list">列表</a></li>
				</ul>
			</section>
	</div>
</div>
<% include foot.html %>